body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:4px;
  top:186px;
  width:351px;
  height:368px;
}
#u24 {
  position:absolute;
  left:2px;
  top:176px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u25 {
  position:absolute;
  left:20px;
  top:420px;
  width:310px;
  height:60px;
  font-size:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:214px;
}
#u29 {
  position:absolute;
  left:15px;
  top:195px;
  width:326px;
  height:214px;
}
#u30 {
  position:absolute;
  left:2px;
  top:99px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:49px;
}
#u31 {
  position:absolute;
  left:20px;
  top:489px;
  width:319px;
  height:49px;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:50px;
  top:497px;
  width:259px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u35 {
  position:absolute;
  left:330px;
  top:172px;
  width:41px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
