body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u357 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u359 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  position:absolute;
  left:7px;
  top:150px;
  width:362px;
  height:368px;
}
#u362 {
  position:absolute;
  left:2px;
  top:176px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u363 {
  position:absolute;
  left:7px;
  top:462px;
  width:362px;
  height:1px;
}
#u364 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u365 {
  position:absolute;
  left:133px;
  top:473px;
  width:110px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u367 {
  position:absolute;
  left:121px;
  top:167px;
  width:132px;
  height:42px;
  font-size:22px;
  text-align:center;
}
#u368 {
  position:absolute;
  left:0px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  position:absolute;
  left:25px;
  top:211px;
  width:320px;
  height:241px;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
